{
  "presets": [
    [
      "env", {
        "debug": false,
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        }
      }
    ],
    "flow",
    "react",
    "stage-2"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ],
  "env": {
    "production": {
      "presets": [
        "react-optimize"
      ],
      "comments": false
    },
    "server": {
      "presets": [
        "react-optimize",
        "minify"
      ],
      "comments": false
    }
  }
}
