.DS_Store
.git/

### Server ###
server/.bundle
server/log/*
server/tmp/*
!server/log/.keep
!server/tmp/.keep
server/.byebug_history

### Client ###
client/node_modules/
client/.vscode/
client/.idea/
client/*.log
client/coverage
client/.nyc_output
client/docs/assets/

### Data ###
data/
