# Ruby

server/*.gem
server/*.rbc
server/.config
server/coverage/
server/InstalledFiles
server/pkg/
server/spec/reports/
server/spec/examples.txt
server/test/tmp/
server/test/version_tmp/
server/tmp/
server/db/*.dump

# Rails

server/capybara-*.html
server/.rspec
server/log
server/tmp
server/public/system
server/coverage/
server/spec/tmp
server/*.orig
server/rerun.txt
server/pickle-email-*.html

.env

/.bundle
/vendor/bundle

# Client
client/node_modules/
client/.vscode/
client/.idea/
client/*.log

client/docs/assets/
client/coverage
client/.nyc_output

# Python

.pyc
__pycache__
data/configs.py
data/secrets.py
data/cron.log
data/.ipynb_checkpoints/
data/*.pyc
data/dbs/*.db
!data/dbs/.keep
data/logs/*.log
!data/logs/.keep

# CORS
cors/node_modules/

# Other

/cache
*.db
.DS_Store
