# Copy this file over to config/secrets.yml when developing or deploying.

development:
  secret_key_base:
  secret_key_api:

test:
  secret_key_base:
  secret_key_api:

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  secret_key_api: <%= ENV["SECRET_KEY_API"] %>
