<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Blockterm</h1>
    <h3>We received a request to reset your password.</h3>
    <p>
      Use the link below to set up a new password for your account.<br />
      If you did not request to reset your password,ignore this email<br />
      and the link will expire on its own.
    </p>
    <a href='<%= @url %>'>Reset Password</a>
  </body>
</html>
