@import '../../../node_modules/react-toggle-switch/dist/css/switch.min.css';
@import '../../../node_modules/react-select/dist/react-select.css';
@import '../../../node_modules/react-grid-layout/css/styles.css';
@import '../../../node_modules/react-resizable/css/styles.css';
// @import '../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';
//@import '../../../node_modules/hamburgers/_sass/hamburgers/_base.scss';

$bloomy: #2900EA;
$ash: #565a5c;
$blue: #68b1de;
$fog: rgba(235, 245, 255, 0.95);
$gray: #d6d6d6;
$green: #1abc9c;
$indigo: #2980b9;
$opaque: rgba(255, 255, 255, 0.875);
$wash: #c1d6d8;
$white: #ffffff;
$black: #000;

$font-family: 'Roboto', sans-serif;

$font-size-largest: 48px;
$font-size-larger: 30px;
$font-size-large: 24px;
$font-size-medium: 17px;
$font-size-small: 15px;
$font-size-smaller: 13px;
$font-size-smallest: 11px;

$font-weight-large: 700;
$font-weight-medium: 400;

* {
  font-family: $font-family;
}

a,
body,
div,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
i,
input,
label,
ol,
p,
textarea,
ul {
  position: relative;
  padding: 0;
  margin: 0;
  color: $black;
  outline: none;
}
p {
  margin-bottom: 5px;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: #ececec;
}
.darkClass {
  background-color: #121515;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  font-family: $font-family;
  // font-weight: $font-weight-large;
  text-decoration: inherit;
}

h1 {
  font-size: $font-size-larger;
  line-height: $font-size-largest;
  letter-spacing: 1px;
}

h2 {
  font-size: $font-size-large;
  line-height: $font-size-larger;
  letter-spacing: 1px;
}

h3 {
  font-size: $font-size-medium;
  line-height: $font-size-large;
  letter-spacing: 0.5px;
}

h4 {
  font-size: $font-size-small;
  line-height: $font-size-large;
  letter-spacing: 0.5px;
}

h5 {
  font-size: $font-size-smaller;
  line-height: $font-size-large;
  letter-spacing: 0.5px;
}

h6 {
  font-size: $font-size-smallest;
  line-height: $font-size-large;
  letter-spacing: 0.5px;
}

i {
  width: $font-size-medium;
  color: inherit;
  font: normal normal normal 14px/1 'FontAwesome';
  font-size: $font-size-smaller;
  text-align: center;
}

a,
input,
label,
li,
p,
span,
textarea {
  display: inline-block;
  font-family: $font-family;
  font-size: $font-size-smaller;
  font-weight: $font-weight-medium;
}

input,
textarea {
  flex: 1;
  align-self: stretch;
  padding: 8px;
  border: 1px solid $gray;
  box-sizing: border-box;
  font-family: $font-family;
  resize: none;
  -webkit-transition: border-color, box-shadow 0.25s ease-in-out;
  -moz-transition: border-color, box-shadow 0.25s ease-in-out;
  -ms-transition: border-color, box-shadow 0.25s ease-in-out;
  -o-transition: border-color, box-shadow 0.25s ease-in-out;
}

input {
  max-height: 42px;
}

.ccc-widget {
  padding: 2px 0px;
  border-bottom: '1px solid #aaa';
  z-index: 2;
}

/* Version 3 */
.hamburger {
  margin-right: -20px;
  margin-left: 24px;
  border: 1px solid white;
  border-left: 1px solid #888;
}

.Select-control {
  border-radius: 0px !important;
  border-color: #333;
}

.Select-placeholder {
  font-weight: 700 !important;
  font-size: 13px !important;
  color: #999;
  letter-spacing: 2px !important;
}

.Select-value-label, .Select-control, .Select--single > .Select-control .Select-value, .Select-input, .Select {
  font-weight: 700 !important;
  font-size: 13px;
  color: #222;
  letter-spacing: 2px;
}

input:invalid {
  color: crimson !important;
}
input:focus:invalid {
  color: black !important;
}
input:focus:required:invalid {
  border-color: crimson !important;
}
input:focus:required:valid {
  border-color: green !important;
}

$hamburger-padding-x                       : 12px !default;
$hamburger-padding-y                       : 12px !default;
$hamburger-layer-width                     : 22px !default;
$hamburger-layer-height                    : 3px !default;
$hamburger-layer-spacing                   : 3px !default;
$hamburger-layer-color                     : #000 !default;
$hamburger-layer-border-radius             : 1px !default;
$hamburger-hover-opacity                   : 1 !default;
$hamburger-hover-transition-duration       : 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;
$hamburger-hover-background-color          : #fafafa !default;

$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter    : opacity(50%) !default;

// Types (Remove or comment out what you don’t need)
// ==================================================
$hamburger-types: (
  3dx,
  3dx-r,
  3dy,
  3dy-r,
  3dxy,
  3dxy-r,
  arrow,
  arrow-r,
  arrowalt,
  arrowalt-r,
  arrowturn,
  arrowturn-r,
  boring,
  collapse,
  collapse-r,
  elastic,
  elastic-r,
  emphatic,
  emphatic-r,
  minus,
  slider,
  slider-r,
  spin,
  spin-r,
  spring,
  spring-r,
  stand,
  stand-r,
  squeeze,
  vortex,
  vortex-r
) !default;

@import "../../../node_modules/hamburgers/_sass/hamburgers/types/arrow";

.hamburger {
  padding: $hamburger-padding-y $hamburger-padding-x;
  display: inline-block;
  cursor: pointer;

  transition-property: opacity, filter;
  transition-duration: $hamburger-hover-transition-duration;
  transition-timing-function: $hamburger-hover-transition-timing-function;

  // Normalize (<button>)
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  border: 1px solid white;
  border-left: 1px solid #777;
  margin-left: 24px;
  margin-right: -12px;

  &:hover {
    @if $hamburger-hover-use-filter == true {
      filter: $hamburger-hover-filter;
    }
    @else {
      opacity: $hamburger-hover-opacity;
      border: 1px solid #000;
      //background-color: $hamburger-hover-background-color;
    }
  }
}

.hamburger-box {
  width: $hamburger-layer-width !important;
  height: 11px !important;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: $hamburger-layer-height / -2 !important;

  &,
  &::before,
  &::after {
    width: $hamburger-layer-width !important;
    height: $hamburger-layer-height !important;
    background-color: $hamburger-layer-color !important;
    border-radius: $hamburger-layer-border-radius !important;
    position: absolute !important;
    transition-property: transform !important;
    transition-duration: 0.15s !important;
    transition-timing-function: ease !important;
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1 !important;
  }

  &::after {
    bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1 !important;
  }
}

.react-grid-layout {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.patchlist:first-child {
  font-weight: 700;
}

#chatContainer {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.chatbro_container, .chatbro_caption, .chatbro_minimized_caption, .chatbro_participant_count_wrapper, .chatbro_header, .chatbro_title > *, .new_messages_count_wrapper {
  color: #fff !important;
}

@media screen and (max-width: 960px) {
    .promotional {
      display: none !important;
    }
}

.Select-placeholder, .Select-value-label {
  font-weight: 700;
  letter-spacing: 2px;
}

.nightnav.Select {
  border: 1px solid #999 !important;
}

.nightnav.Select * {
  background-color: #000;
  color: #fff !important;
}

.nightnav.Select-control {
  border-color: #999 !important;
}

.Select-input, .Select-arrow, .Select-arrow-zone {
  background-color: transparent !important;
}

// .Select, .Select-control {
//   max-height: 30px;
// }

// .Select-multi-value-wrapper,
// .Select-input, .Select-arrow, .Select-arrow-zone,
// .Select-value, .Select-value-label {
//   max-height: 25px !important;
// }

